*{
    padding: 0!important;
    margin: 0 !important;
}

body{
    background-image: url('/images/calendar.png');
    background-repeat: no-repeat;
    background-position: 5% 100px;
}

#root{
    background-color: rgba(178, 189, 192, 0.85);
    width: 100%;
    margin: 0 !important;
    height: 100%;
}

#col {
    background-color: rgba(205, 120, 125, 0.46);
    border-radius: 5px;
    padding: 10px;
}

.text span{
    font-family: Georgia;
    text-transform: uppercase;
    color: #040505;
    text-decoration: underline;
}

.fa {
    /*color: #9fcdff;*/
}

#tweet, #user {
    font-family: Trattatello, "Trebuchet MS";
}